<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hole-in-One</title>
    <link rel="stylesheet" href="./css/main_design.css">
    <link rel="stylesheet" href="./css/reset.css">
</head>
<body>
    <div class="header">

        <!-------------- 네비게이션 -------------->
        <div class="navbar">
            <div class="nav_text">
                <div class="logo"><a href=""><img src="./img/logo.png" alt=""></a></div>
            <ul>
                <li>
                    <a href="./Sub_GolfReserve.html">골프장 예약</a>
                    <a href="" style="color:rgba(255, 255, 255, 0.548);">|</a>
                    <a href="">커뮤니티</a>
                    <a href="" style="color:rgba(255, 255, 255, 0.548);">|</a>
                    <a href="">공지사항</a>
                    <a href="" style="color:rgba(255, 255, 255, 0.548);">|</a>
                    <a href="">마이페이지</a>
                </li>
            </ul>
            <div class="login"><a href="">로그인&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;회원가입</a></div>
            </div>
        </div>

        <!-------------- 메인 글씨 -------------->
        <div class="header_text">
            <h1><img src="./img/logo_big.png" alt=""></h1>
            <p>자바 프로젝트 하기 위한 웹사이트 제작 
                <br>홀인원에서 골프장 부킹 및 커뮤니티 콘텐츠를 즐겨보세요
            </p>
            <ul>
                <li>
                    <a href="" style="margin-right: 50px;">전체 날짜
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>▼</span></a>
                    <a href="" style="margin-right: 50px;">전체 지역
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>▼</span></a>
                    <a href="" >골프장명 검색&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>▼</span></a>
                </li>
            </ul>
            <button><a href="./sub_GolfReserve.html">바로가기</a></button>

        </div>
    </div>
</body>
</html>