<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>골프 예약 서비스 | Hole in One</title>
      <link rel="stylesheet" href="/css/memberStyle.css" />
   </head>
   <body>
    <div class="map-box">
      <div class="main-nav"></div>
      <div
         id="map"
         style="
            width: 1250px;
            height: 900px;
         "
      ></div>
      <script
         type="text/javascript"
         src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1493d0a48da5ab2a74b11985cb0651f5"
      ></script>
      <script>
         // 장소명 인포 윈도우
         var infowindow = new kakao.maps.InfoWindow({
            zIndex: 1,
         });

         var mapContainer = document.getElementById("map"), // 지도를 표시할 div
            mapOption = {
               center: new kakao.maps.LatLng(
                  37.35007348609913,
                  127.10891407950429
               ), // 지도 중심 좌표
               level: 3, // 지도의 확대 레벨
            };
         var map = new kakao.maps.Map(mapContainer, mapOption);
      </script>
      </div>
      <div class="login-box">
         <div class="login-title">골프 예약 서비스</div>
         <div class="nav"></div>
         <div class="login-text">Hole in One에 오신 것을 환영합니다.</div>
         <div class="member">
            <button
               class="btn-submit"
               onclick="location.href='/articles'"
               type="button"
            >
               커뮤니티
            </button>
            <a
               th:if="${session.member != null}"
               th:href="@{'/orders/'+${session.member.id}}"
            >
               <button class="btn-submit" type="button">내 예약 목록</button>
            </a>
            <a
               th:if="${session.member != null}"
               th:href="@{'/members/'+${session.member.id}+'/profile'}"
            >
               <button class="btn-submit" type="button">내 계정</button>
            </a>
            <button
               th:if="${session.member == null}"
               class="btn-submit"
               onclick="location.href='/members/signIn'"
               type="button"
            >
               로그인 또는 회원 가입
            </button>
            <button
               th:if="${session.member == null}"
               id="kakao"
               class="btn-submit"
               onclick="location.href='/members/signIn'"
               type="button"
            >
               <span class="inner-kakao">
                  <img
                     src="https://www.svgrepo.com/show/368252/kakao.svg"
                     class="kakao-button-img"
                     width="24"
                     height="24"
                     alt="kakao"
                  />
                  <span>카카오 로그인</span>
               </span>
            </button>
            <button
               th:if="${session.member != null}"
               class="btn-home"
               onclick="location.href='/members/signOut'"
               type="button"
            >
               로그아웃
            </button>
         </div>
      </div>
      <script src="/js/app.js"></script>
   </body>
</html>
