<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
    <title>공지사항</title>
</head>
<body>
    <div class="board_wrap">
        <label for="toggle" onclick="">&#8801;</label>
        <input type="checkbox" id="toggle">
        <div id="nav">
            <nav id="topMenu">
                <ul>
                    <li><a class="menuLink" href="#">About us</a></li>
                    <li><a class="menuLink" href="#">About us</a></li>
                    <li><a class="menuLink" href="#">About us</a></li>
                    <li><a class="menuLink" href="#">About us</a></li>
                    <li><a class="menuLink" href="#">About us</a></li>
                </ul>
            </nav>
        </div>
        <div class="board_title">
            <strong>공지사항</strong>
            <p>공지사항을 .......................</p>
        </div>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="mum">번호</div>
                    <div class="title">제목</div>
                    <div class="writer">글쓴이</div>
                    <div class="date">작성일</div>
                    <div class="count">조회</div>
                </div>
                <div>
                    <div class="mum">5</div>
                    <div class="title"><a href="view.html"> 글 제목이 들어감</a></div>
                    <div class="writer">김이름</div>
                    <div class="date">2022.5.5</div>
                    <div class="count">33</div>
                </div>
                <div>
                    <div class="mum">4</div>
                    <div class="title"><a href="view.html"> 글 제목이 들어감</a></div>
                    <div class="writer">김이름</div>
                    <div class="date">2022.5.5</div>
                    <div class="count">33</div>
                </div>
                <div>
                    <div class="mum">3</div>
                    <div class="title"><a href="view.html"> 글 제목이 들어감</a></div>
                    <div class="writer">김이름</div>
                    <div class="date">2022.5.5</div>
                    <div class="count">33</div>
                </div>
                <div>
                    <div class="mum">2</div>
                    <div class="title"><a href="view.html"> 글 제목이 들어감</a></div>
                    <div class="writer">김이름</div>
                    <div class="date">2022.5.5</div>
                    <div class="count">33</div>
                </div>
                <div>
                    <div class="mum">1</div>
                    <div class="title"><a href="view.html"> 글 제목이 들어감</a></div>
                    <div class="writer">김이름</div>
                    <div class="date">2022.5.5</div>
                    <div class="count">33</div>
                </div>
            </div>
            <div class="board_page">
                <a href="#" class="bt first"><<</a>
                <a href="#" class="bt prev"><</a>
                <a href="#" class="num on">1</a>
                <a href="#" class="num">2</a>
                <a href="#" class="num">3</a>
                <a href="#" class="num">4</a>
                <a href="#" class="num">5</a>
                <a href="#" class="bt bext">></a>
                <a href="#" class="bt last">>></a>
            </div>
            <div class="bt_wrap">
                <a href="write.html" class="on">등록</a>
                <!-- <a href="#">수정</a> -->
            </div>
        </div>
    </div>
</body>
</html>