<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
    <title>공지사항</title>
</head>
<body>
    <div class="board_wrap">
        <label for="toggle" onclick="">&#8801;</label>
        <input type="checkbox" id="toggle">
        <div id="nav">
            <nav id="topMenu">
                <ul>
                    <li><a class="menuLink" href="#">About us</a></li>
                    <li><a class="menuLink" href="#">About us</a></li>
                    <li><a class="menuLink" href="#">About us</a></li>
                    <li><a class="menuLink" href="#">About us</a></li>
                    <li><a class="menuLink" href="#">About us</a></li>
                </ul>
            </nav>
        </div>
        <div class="board_title">
            <strong>공지사항</strong>
            <p>공지사항을 .......................</p>
        </div>
        <div class="board_view_wrap">
            <div class="board_view">
                <div class="title">
                    글 제목이 들어감
                </div>
                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd>1</dd>
                    </dl>
                    <dl>
                        <dt>글쓴이</dt>
                        <dd>김이름</dd>
                    </dl>
                    <dl>
                        <dt>장성일</dt>
                        <dd>2022.5.5</dd>
                    </dl>
                    <dl>
                        <dt>조회</dt>
                        <dd>44</dd>
                    </dl>
                </div>
                <div class="cont">
                    글 내용이 들어감<br>
                    글 내용이 들어감<br>
                    글 내용이 들어감<br>
                    글 내용이 들어감<br>
                    글 내용이 들어감<br>
                    글 내용이 들어감<br>
                    글 내용이 들어감<br>
                    글 내용이 들어감<br>
                    글 내용이 들어감
                </div>
            </div>
            <div class="bt_wrap">
                <a href="list.html" class="on">목록</a>
                <a href="edit.html">수정</a>
            </div>
        </div>
    </div>
</body>
</html>