<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 정보 수정 | Hole in One</title>
    <link rel="icon" href="/img/hole-in-one-1280.png"/>
    <link rel="stylesheet" href="/css/memberStyle.css"/>
</head>
<body>
<div class="map-box">
    <div class="main-nav"></div>
    <div id="map" style="width: 2000px; height: 100vh"></div>
    <script
            type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1493d0a48da5ab2a74b11985cb0651f5"
    ></script>
    <script>
            // 장소명 인포 윈도우
            var infowindow = new kakao.maps.InfoWindow({
               zIndex: 1,
            });

            var mapContainer = document.getElementById("map"), // 지도를 표시할 div
               mapOption = {
                  center: new kakao.maps.LatLng(
                     37.35007348609913,
                     127.10891407950429
                  ), // 지도 중심 좌표
                  level: 3, // 지도의 확대 레벨
               };
            var map = new kakao.maps.Map(mapContainer, mapOption);
    </script>
</div>
<div class="login-box">
    <div class="login-title">회원 정보 수정</div>
    <div class="nav"></div>
    <div th:text="${session.members.name}+' 님의 회원 정보'" class="login-text">회원 정보 수정</div>
    <div th:if="${session.members != null}">
        <form class="email-form" th:action="@{'/members/'+${session.members.member_id}+'/profile'}" method="post">
            <div class="input-text-group">
                <input hidden="hidden"/>
                <input class="input-text" type="text" th:value="${session.members.email}"
                       style="background:#eaeaea; color:#999999;" disabled/>
                <input type="text" name="email" th:value="${session.members.email}" hidden="hidden"/>
                <div th:each="memberInfo:${members}">
                    <input hidden="hidden"/>
                    <input class="input-text" type="text" name="name" placeholder="이름" maxlength="50"
                           th:value="${memberInfo.name}"/>
                    <div class="message">⚠️ 이름이 필요합니다.</div>
                    <input hidden="hidden"/>
                    <input class="input-text" type="text" name="address" placeholder="주소" maxlength="50"
                           th:value="${memberInfo.address}"/>
                    <div class="message">⚠️ 주소가 필요합니다.</div>
                    <input hidden="hidden"/>
                    <input class="input-text" type="text" name="phone" placeholder="전화 번호" maxlength="50"
                           th:value="${memberInfo.phone}"/>
                    <div class="message">⚠️ 전화번호가 필요합니다.</div>
                </div>
            </div>
            <button class="btn-submit" type="button" onclick="updateCheck();">회원 정보 수정</button>
        </form>
        <a th:href="@{'/members/withdraw/'+${session.members.member_id}}">
            <button class="btn-home" type="button">서비스 탈퇴하기</button>
        </a>
        <button class="btn-home" onclick="location.href='/'" type="button">홈으로 돌아가기</button>
    </div>
    <div th:if="${update == 'pass'}" class="snack-bar">변경 사항이 저장되었습니다.</div>
</div>

<script src="/js/app.js"></script>
</body>
</html>


