<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 또는 회원 가입 | Hole in One</title>
    <link rel="icon" href="/img/hole-in-one-1280.png" />
    <link rel="stylesheet" href="/css/memberStyle.css"/>
</head>
<body>
<div class="map-box">
    <div class="main-nav"></div>
    <div id="map" style="width: 2000px; height: 100vh"></div>
    <script
            type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1493d0a48da5ab2a74b11985cb0651f5"
    ></script>
    <script>
            // 장소명 인포 윈도우
            var infowindow = new kakao.maps.InfoWindow({
               zIndex: 1,
            });

            var mapContainer = document.getElementById("map"), // 지도를 표시할 div
               mapOption = {
                  center: new kakao.maps.LatLng(
                     37.35007348609913,
                     127.10891407950429
                  ), // 지도 중심 좌표
                  level: 3, // 지도의 확대 레벨
               };
            var map = new kakao.maps.Map(mapContainer, mapOption);
         </script>
</div>
<div class="login-box">
    <div th:if="${email == null}" class="guest-box">
        <div class="login-title">로그인 또는 회원 가입</div>
        <div class="nav"></div>
        <div class="login-text">Hole in One에 오신 것을 환영합니다.</div>
        <form class="email-form" action="/member/" method="post">
            <div class="input-text-group">
                <input hidden="hidden"/>
                <input class="input-text" type="text" name="email" placeholder="이메일"/>
                <div class="message">⚠️ 이메일이 필요합니다.</div>
            </div>
            <button class="btn-submit" id="email-btn" type="button" onclick="emailCheck();">계속</button>
        </form>
    </div>
    <div th:if="${email != null}" class="user-box">
        <div class="login-title">로그인</div>
        <div class="nav"></div>
        <div class="login-text">Hole in One에 오신 것을 환영합니다.</div>
        <form class="email-form" action="/member/signIn" method="post">
            <div class="input-text-group">
                <div th:if="${verify == 'fail'}"class="verify-message">⚠️ 이메일 또는 비밀번호가 틀렸습니다.</div>
                <input hidden="hidden"/>
                <input class="input-text" type="text" name="email" placeholder="이메일" th:value="${email}"/>
                <div class="message">⚠️ 이메일이 필요합니다.</div>
                <input hidden="hidden"/>
                <input class="input-text" type="password" name="password" placeholder="비밀번호"/>
                <div class="message">⚠️ 비밀번호를 입력해 주세요.</div>
            </div>
            <button class="btn-submit" type="button" onclick="passwordCheck();">로그인</button>
        </form>
    </div>
    <button class="btn-home" onclick="location.href='/'" type="button">홈으로 돌아가기</button>
</div>
<script src="/js/app.js"></script>
</body>
</html>