* {
    font-family: "나눔스퀘어OTF_ac";

}

.sub_header {
    background-image: url(../img/sub_header2.jpg);
    
    background-repeat: no-repeat;
    width: 100%; height: 1000px;

}

/* -------------  로고  ------------------*/
.sub_navbar .logo {
    float: left;
}

/* -------------  네비게이션  ------------------*/
.sub_navbar {
    background-image: url(../img/nav.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 80px;
    float: left;
}

.sub_nav_text {
    width: 1240px;
    margin: 0 auto;
    color: white;
    font-family: "나눔스퀘어OTF_ac";
    align-items : center;
    margin-top: 15px;
}

.sub_navbar .sub_logo {
    float: left;
}

.sub_navbar .sub_logo img {
    width: 90%;
}

.sub_navbar ul {
    float: left;
    margin-left: 140px;
}

.sub_navbar ul li {
    list-style: none;
    margin-top: 8px;

}

.sub_navbar ul li a {
    font-size: 18px;
    list-style: none;
    color: white;
    text-decoration: none;
    margin-right: 50px;

}

/* -------------  로그인, 회원가입 버튼  ------------------*/
.sub_nav_text .sub_login {
    float: right;
    font-size: 14px;
    margin-top: 12px;
    color: rgba(255, 255, 255, 0.541);
}

.sub_nav_text .sub_login a {
    color: rgba(255, 255, 255, 0.541);
    text-decoration: none;
    text-decoration-line: none;
}

/* -------------  헤더 글씨  ------------------*/
.sub_header_text {
    font-family: '나눔스퀘어OTF_ac';
    width: 1240px;
    margin: 0 auto;

}

.sub_header_text .line {
    width: 50px;
    border-bottom: 3px solid white;
    padding-top: 120px;
    margin-bottom: 25px;
}

.sub_header_text h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 13px;
    font-weight: 600;
    letter-spacing: 2px;

}

.sub_header_text p {
    font-size: 20px;
    color: rgba(247, 247, 247, 0.918);
    font-weight: 300;
    margin-bottom: 60px;
}

.sub_header_text ul {
    
}

.sub_header_text ul li a {
    color: white;
    font-size: 22px;
    text-decoration-line: none;
    font-weight: 500;
    border: 2px solid;
    padding-top: 7px;
    padding-left: 3px;
    padding-right: 3px;
    border-color: rgba(255, 255, 255, 0.726) transparent transparent transparent ;
}

.sub_header_text ul li a span {
    font-size: 15px;
}